.cadeira {
    -fx-image: url("../imagens/cadeira.png");
}

.mao-aberta {
    -fx-image: url("../imagens/maoaberta.png");
}

.mao-fechada {
    -fx-image: url("../imagens/maofechada.png");
}

.adicionar {
    -fx-image: url("../imagens/adicionar.png");
}

.remover {
    -fx-image: url("../imagens/remover.png");
}

.palpite {
    -fx-image: url("../imagens/palpite.png");
}
