.cadeira {
    -fx-image: url("../imagens/cadeira.png");

}

.mao-aberta {
    -fx-image: url("../imagens/maoaberta.png");
}

.mao-fechada {
    --fx-background-image: url("../imagens/maofechada.png");
}